.container{
  min-height: 100vh;
 background: linear-gradient(135deg, #ffffff 0% , #4264ff 100%);
 padding: 32px;
}
.content{
  max-width: center;
  margin: 0 auto;
}
header{
  margin-bottom: 32px;
  text-align: center;
}
header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size:  2.25em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px
}
header p{
  font-size: 1.1em;
  color: #101158;
}